@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600;700&family=Nunito:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');

//css font-family nunito sans
.font-family-nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.font-family-cormorant-garamond {
    font-family: 'Cormorant Garamond', serif;
}

//tag nav class btn-outline-light
section.section-sub-nav {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    // filter: blur(1px);
    opacity: 0.5;

    a.nav-link {
        color: rgb(0, 0, 0);
        border-bottom: rgb(255, 255, 255) solid 2px;

        &:hover {
            border-bottom: rgb(34, 34, 34) solid 2px;
            transition: color 0.2s;
        }
    }
}


nav div.d-lg-flex {
    margin-left: 5.5rem;

    //responsif width max-width: 992px
    @media (max-width: 992px) {
        margin-left: 0;
    }

    a.nav-link {
        color: rgb(163, 165, 167);

        @media (max-width: 992px) {
            padding-left: 0;
        }

        //hover with transition delay 0.2s
        &:hover {
            color: rgb(255, 255, 255);
            transition: color 0.2s;
        }
    }

    .btn-outline-light {
        border-width: 2px;
        font-size: 1rem;
    }
}


//css backgroud image
.banner-img {
    background-image: url('/images/banner-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
}

//create circle image
.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
}
.nav-pembayaran{
    .nav-link{
        color:#161616;
        &:hover{
           background-color: rgb(114, 113, 117);
        }
    }

   
    .nav-link.active{
        color:blue
    }
}
.carousel-wrapper {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5110e9;
}

.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 120px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-carousel .owl-prev {
    left: 0;
}

.owl-carousel .owl-next {
    right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #161616;
    font-size: 27px;
    background: #35353593;
    border-radius: 100%;

    //hover
    &:hover {
        background-color: rgba(27, 27, 27, 0.76);
    }
}

.owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
}

.loader {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(27, 26, 26, 0.329);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

    ///loader icon css
    .loader-icon {
        width: 100px;
        height: 100px;
        font-size: 80px;
        border-radius: 50%;
        color: teal;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    box-shadow: none;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

.circle-image {
    border-radius: 100%;
}

// input[type="radio"], input[type="checkbox"],
.parsley-error>input {
    border-color: #da1634;

    &:focus {
        border-color: #da1634;
        box-shadow: 0 0 6px #da1634;
    }
}



input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #da1634;

    //focus border red
    &:focus {
        box-shadow: 0 0 6px #da1634;
        background-color: #F2DEDE;
        border: 1px solid #da1634;
    }
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.3em;
    opacity: 0;
    color: #d8221f;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: rgb(194, 193, 193) solid 2px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-pic-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.register-layout {
    //height full screen
    height: 100vh;
    padding-top: 10rem;
}

.add-multiple-images {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    justify-content: center;
    border: solid rgb(222, 226, 230) 1px;
    color: rgb(222, 226, 230);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgb(222, 226, 230);
        color: white;
    }
}

.upload-group {
    position: relative;

    .close {
        position: absolute;
        z-index: 999;
        right: 1px;
        top: 1px;
        width: 1em;
        padding-bottom: 5px;
        background-color: white !important;
        text-align: center;
        color: red;
        border-radius: 100%;
        border: 1px solid rgb(222, 226, 230);
        box-shadow: rgb(222, 226, 230) 0px 5px 5px;
    }
}

.images-multiple-upload {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 15px !important;
    // line-height: -22px !important;
    overflow: hidden;
    margin-left: 5px;
}

