.loader {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(27, 26, 26, 0.329);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

    ///loader icon css
    .loader-icon {
        width: 100px;
        height: 100px;
        font-size: 80px;
        border-radius: 50%;
        color: teal;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

// input[type="radio"], input[type="checkbox"],
.parsley-error>input {
    border-color: #da1634;

    &:focus {
        border-color: #da1634;
        box-shadow: 0 0 6px #da1634;
    }
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    box-shadow: none;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #da1634;

    //focus border red
    &:focus {
        box-shadow: 0 0 6px #da1634;
        background-color: #F2DEDE;
        border: 1px solid #da1634;
    }
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.3em;
    opacity: 0;
    color: #d8221f;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: rgb(194, 193, 193) solid 2px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-pic-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.register-layout{
   //height full screen
    height: 100vh;
    padding-top: 10rem;
}