.loader{
   position: fixed;
   visibility: hidden;
   width: 100%;
   height: 100%;
   background: rgba(27, 26, 26, 0.329);
   z-index: 99999;
   display: flex;
   justify-content: center;
   align-items: center;
   ///loader icon css
   .loader-icon{
      width: 100px;
      height: 100px;
      font-size: 80px;
      border-radius: 50%;
      color: teal;
      display: flex;
      justify-content: center;
      align-items: center;
  
   }
}
.profile-pic{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   padding: 2px;
   border: rgb(194, 193, 193) solid 2px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   .profile-pic-img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
   }
}